/*!! file:g.styl        */

@import 'modules/rhythm'

// These three constants come straight from gridlover.net
// Ratios taken from http://lamb.cc/typograph/ (Specifically the 3:5 Fibonacci)
body-font-size = 1.0rem
body-line-height = 1.5
scale-factor = 1.6250

$whiteish = hsl(0, 50, 99)
$blackish = hsl(0, 0, 7)
$logocolor = hsl(202, 100%, 38%)

$redish   = spin($logocolor, 180%)
$headercolor = $logocolor
$linkcolor = $logocolor

$measure = 42rem

*
  box-sizing: border-box

html
  background url(/images/debut_light.png) 

body
  rhythm(0)
  font-family   sans-serif
  width         $measure
  margin        0 auto
  color         $blackish
  //  background url(/images/24.svg) center top repeat

h1
  rhythm(4, 1, 2)
  color $headercolor
  margin-left  -0.3 rem
  letter-spacing -2px
  text-rendering optimizelegibility

  span
    color lightGray

h2
  rhythm(2, 2, 1)
  color $headercolor
  // See http://➡.ws/border-top
  background url('/images/1x1.svg') top left repeat-x

h3
  rhythm(1, 1, 0)
  color $headercolor

p.slug
  color $redish
  font-weight bold
  margin-top -3.0 rem

span.invert
  color $whiteish
  background-color: $logocolor
  padding: 4px

.medium
  display none

// Fancy hyperlinks
a:visited, a:link
  color darken($linkcolor, 20%)
  text-decoration none
  border-bottom 1px solid lighten($linkcolor, 60%)

a:active, a:hover
  border-bottom 1px solid darken($linkcolor, 20%)
  background lighten($linkcolor, 70%)

// // 20ems = 320px -  smartphone 
// @media screen and (max-width: 20em) 
//   body
//     font-size 87.5%

// // 48ems = 768px - iPad portrait
// @media screen and (min-width: 48em)
//   .medium
//     display block


// // 64ems = 1024px - iPad landscape
// @media screen and (min-width: 64em)
//   body
//     max-width 35em
//     line-height 1.75em
//     font-size 112.5%

// // 100ems = 1600px - desktop
// @media screen and (min-width: 100em)
//   body
//     line-height 2em



// Scott's "house style" typography decisions:
// Hanging puncation, squares as bullets, small roman for numbering
// Proper abbreviations and figure captions

p, ul, ol
  margin-top    0rem
  margin-bottom 1.5rem
 
abbr
  font-size 0.9em
  text-transform uppercase
  letter-spacing 0.1em

ul
  padding 0
  list-style: square

ol
  padding 0
  list-style: lower-roman

figure
  a:active, a:hover, a:visited, a:link
    border-bottom 0px

figcaption
  color darkGray
  font-variant small-caps
  font-size 0.9em
  margin-top    0rem
  margin-bottom 1.5rem

