////////////////
// Map Module //
////////////////

.mapSectionSize
    height 400px

#map_canvas
  height 100%
  width 100%

.info-window
  font-family sans-serif
  color #333
  & > *
    display block

.director-name
  font-weight 700

///////////////////
// Search Module //
///////////////////

.rdpill
  display inline
  text-align left
  float left
  white-space nowrap
  overflow hidden
  width 159px
  
.circular
  border-radius 50%  
  -webkit-border-radius 50%
  -moz-border-radius 50%
  box shadow 0 0 2px rgba(0, 0, 0, .2)
  -webkit-box-shadow 0 0 0 2px rgba(0, 0, 0, .2)
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2)
  
.animate-enter, 
.animate-leave
    -webkit-transition 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    -moz-transition 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    -ms-transition 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    -o-transition 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    transition 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    position relative
    display block
 

.animate-enter.animate-enter-active, 
.animate-leave 
    opacity 1
    bottom 0
    height 30px

.animate-leave.animate-leave-active,
.animate-enter 
    opacity 0
    bottom -50px
    height 0px


