html
  height 100%

body
  height 100%
  margin 0
  padding 0

#map_canvas
  height 100%

.info-window
  font-family sans-serif
  color #333
  & > *
    display block

.director-name
  font-weight 700

