script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js')
script
  window.jQuery || document.write('<script src="components/jquery/jquery.min.js"><\\/script>')
script(type='text/javascript', src='/js/bootstrap-collapse.js')  
script(type='text/javascript', src='/js/bootstrap-transition.js')
script(type='text/javascript', src='http://code.angularjs.org/1.1.5/angular.js')
script(type='text/javascript', src='/js/controller.js')
script(type='text/javascript', src='/components/jquery.rule/jquery.rule.js')
script(type='text/javascript', src='/js/main.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRmK3DGgin3sIKuPhthWqFjIrt-WP11U&sensor=false')
script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js')
script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js')
script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js')
script(type='text/javascript', src='/js/map.js')

//if lt IE 9
  script(type='text/javascript', src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

