meta(name='viewport', content='initial-scale=1.0, user-scalable=no')

link(rel='stylesheet', href='/styles/g.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700')
link(rel='stylesheet', href='/styles/bootstrap.css')
link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
link(rel='stylesheet', href='/styles/normalize.css')
link(rel='stylesheet', href='/styles/h5bp.css')



