div.navbar
  div.navbar-inner
    div.container
      a.brand(href='/') msrd.io
   
      a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
      div.nav-collapse.collapse
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li
            a(href='/logo.html') Logo
          li
            a(href='/archive.html') Archive
