div#masthead.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      div.brand MSRDio
     
      a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      div.nav-collapse.collapse
        ul#navbar.nav.nav-pills.pull-right
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Logo
          li
            a(href='#') Contact
