div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target'.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.brand(href='#') MSRD.IO
      
      div.nav-collapse.collapse(style='float:right')
        ul.nav
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Logo
          li
            a(href='#') Contact
