section.well(ng-controller='newsCtrl')
  div.row-fluid
    article.span4(ng-repeat='article in articles | orderBy:date')
      div
        a(ng-href='articles/{{article.basename}}.html')
          img(src='http://placekitten.com/g/350/140', alt='sample image')
      header
        a(ng-href='articles/{{article.basename}}.html')
          h4(ng-bind='article.title')
      div(ng-bind='article.preview')
      footer
        a(ng-href='articles/{{article.basename}}.html') Read More
