extends templates/h5bp

block content
  section(ng-controller='newsCtrl')
    div.row-fluid
      article(ng-repeat='article in articles | orderBy:date')
        div
          a(href='contents/{{article.basename}}.html')
            h2 {{article.title}}
          p {{article.preview}}
