@import 'nib/gradients'
@import 'nib/vendor'
@import 'buttons/buttons.styl'

$fontsize = 16pt
$whiteish = hsl(0, 0, 99)
$blackish = hsl(0, 0, 7)

$phi = 0.6250
$0 = 1.0
$1 = $phi + $0      // 1.6250
$2 = $0 + $1        // 2.6250
$3 = $1 + $2        // 4.2500
$4 = $2 + $3        // 6.8750

*
  box-sizing: border-box

html
  background url(/images/debut_light.png) 

body
  font          1.0rem/1.5 sans-serif
  width         42em
  margin        0 auto
  color         $blackish
  // background url(/images/24.svg) center top repeat

h1
  font-size     6.8750 rem
  line-height   7.5 rem
  margin-top    1.5 rem
  margin-bottom 3.0 rem
  margin-left  -0.3 rem
  letter-spacing -2px
  text-rendering optimizelegibility
  color rgb(9,79,178)

  span
    color lightGray

p.slug
  font-weight bold
  margin-top -3.0 rem
  color rgb(255, 85, 64)

span.invert
  color $blackish
  background-color: rgb(87, 193, 233)
  padding: 4px

a:visited, a:link
  color hsl(205, 20%, 50%)
  text-decoration none
  border-bottom 1px solid #F2ECDA

a:active, a:hover
  border-bottom 1px solid #999

figure
  a:active, a:hover, a:visited, a:link
    border-bottom 0px

figcaption
  font-variant small-caps
  margin-top    0rem
  margin-bottom 1.5rem
  color darkGray

h2
  color rgb(9,79,178)
  font-size     2.6250 rem
  line-height   3.0000 rem
  margin-top    3.0 rem
  margin-bottom 1.5 rem
  // See http://➡.ws/border-top
  background url('/images/1x1.svg') top left repeat-x

h3
  font-size     1.6250 rem
  line-height   3.0 rem
  margin-top    1.5 rem
  margin-bottom 0 rem
  color rgb(9,79,178)

p, ul, ol
  margin-top    0rem
  margin-bottom 1.5rem

