body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
html {
  font: 400 100%/1.618034 em 'Roboto', sans-serif;
}
body {
  margin: 0;
  width: 100%;
  color: #777;
}
h1,
h2 {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0;
  padding: 0 0 2.6180339999999998rem;
  color: #007cc2;
  font-weight: 400;
  font-size: 2.236068rem;
  line-height: 1.2em;
}
h2 {
  margin: 0;
  padding: 0 0 0.618034rem;
  font-weight: 400;
  font-size: 1.618034rem;
  color: #bbb;
}
ul {
  padding: 0;
}
li {
  list-style: none outside none;
}
p,
li {
  margin: 0;
  padding: 0 0 1.618034rem;
  font-size: 1rem;
  color: #777;
}
p {
  font-family: georgia, serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
figure {
  margin: 0;
}
header,
footer,
body>section {
  display: block;
  width: 72rem;
  margin: 0 -0.75rem;
  *width: 72rem -correction;
  *margin: 0 -0.75rem -correction;
  margin: 0 auto;
}
header:before,
header:after,
footer:before,
footer:after,
body>section:before,
body>section:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after,
footer:after,
body>section:after {
  clear: both;
}
header {
  vertical-align: middle;
  padding: 3rem 0 1rem;
}
header section>* {
  padding: 0;
}
header h1 a {
  font-weight: 900;
  color: #007cc2;
}
header figure img {
  width: 18rem;
}
nav a {
  color: #007cc2;
}
nav a:hover {
  color: #004973;
}
@media screen and (min-width: 500px) {
  header h1,
  header figure {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 22.5rem;
    margin: 0 0.75rem;
    *width: 22.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  nav {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 46.5rem;
    margin: 0 0.75rem;
    *width: 46.5rem -correction;
    *margin: 0 0.75rem -correction;
    text-align: right;
  }
  nav li {
    display: inline-block;
    padding: 0 3.2360679999999995rem 0 0;
  }
  nav li:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 499px) {
  header h1,
  header figure {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70.5rem;
    margin: 0 0.75rem;
    *width: 70.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  nav {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70.5rem;
    margin: 0 0.75rem;
    *width: 70.5rem -correction;
    *margin: 0 0.75rem -correction;
    text-align: left;
  }
  nav li {
    display: inline-block;
    padding: 0 0 0 4.2360679999999995rem;
  }
  nav li:first-child {
    padding-left: 0;
  }
}
body>section {
  padding: 2.6180339999999998rem 0;
}
body>section h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
  padding-top: 1.618034rem;
}
.about h1 {
  color: #5c6a73;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2em;
  padding: 1.618034rem 0 4.854101999999999rem;
  font-weight: 300;
}
.about section {
  text-align: center;
}
.about i {
  font-size: 7.472135999999999rem;
  line-height: 1.5em;
}
.about .icon-headphones {
  color: #0acfac;
}
.about .icon-comments {
  color: #008edc;
}
.about .icon-heart {
  color: #d55340;
}
.rds h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.rds .regions ul li {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 16.5rem;
  margin: 0 0.75rem;
  *width: 16.5rem -correction;
  *margin: 0 0.75rem -correction;
  font-size: 1.618034rem;
  background: #eee;
  padding: 0 0.618034rem;
  margin-bottom: 1.5rem;
}
.rds .regions ul li:hover {
  background: #5c6a73;
  cursor: pointer;
}
.rds .regions ul li h2 {
  color: #777;
  font-size: 1.3rem;
  padding-bottom: 0;
}
.rds .regions ul li h2:hover {
  color: #fff;
}
.rds .directors h2 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
  padding: 2.6180339999999998rem 0;
  color: #5c6a73;
}
.rds .directors ul li {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 16.5rem;
  margin: 0 0.75rem;
  *width: 16.5rem -correction;
  *margin: 0 0.75rem -correction;
  text-align: center;
}
.rds .directors ul li img {
  width: 10.5rem;
  -webkit-border-radius: 5.75rem;
  -moz-border-radius: 5.75rem;
  border-radius: 5.75rem;
  margin-top: 1rem;
}
.rds .directors ul li .name,
.rds .directors ul li .location {
  font-family: inherit;
  padding: 0;
}
.rds .directors ul li .name {
  margin-top: 1rem;
  color: #007cc2;
}
.rds .directors ul li .location {
  color: #bbb;
}
.news section img {
  margin: 0 0 1rem;
}
.container {
  background: #5c6a73;
  padding: 4.2360679999999995rem 0;
  margin-top: 4.2360679999999995rem;
}
footer p,
footer ul {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
footer p {
  color: #bbb;
  font-family: inherit;
  padding: 0;
}
footer ul {
  margin-bottom: 1rem;
}
footer li,
footer li a {
  color: #fff;
  padding: 0 0.618034rem 0 0;
  display: inline;
}
footer li:first-child,
footer li a:first-child {
  padding-left: 0;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 4px;
  }
}
@media screen and (min-width: 320px) and (max-width:409px) {
  html {
    font-size: 5px;
  }
}
@media screen and (min-width: 410px) and (max-width:449px) {
  html {
    font-size: 5.5px;
  }
}
@media screen and (min-width: 450px) and (max-width: 499px) {
  html {
    font-size: 6px;
  }
}
@media screen and (min-width: 500px) and (max-width: 529px) {
  html {
    font-size: 6.5px;
  }
}
@media screen and (min-width: 530px) and (max-width: 599px) {
  html {
    font-size: 7px;
  }
}
@media screen and (min-width: 600px) and (max-width: 679px) {
  html {
    font-size: 8px;
  }
}
@media screen and (min-width: 680px) and (max-width: 767px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 899px) {
  html {
    font-size: 64%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  html {
    font-size: 73%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1123px) {
  html {
    font-size: 87%;
  }
}
@media screen and (min-width: 1124px) and (max-width: 1223px) {
  html {
    font-size: 92%;
  }
}
@media screen and (min-width: 1224px) {
  html {
    font-size: 92%;
  }
}
@media screen and (min-width: 1024px) {
  .about section,
  .news section {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 22.5rem;
    margin: 0 0.75rem;
    *width: 22.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  .logo section {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 34.5rem;
    margin: 0 0.75rem;
    *width: 34.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
}
@media screen and (max-width: 1023px) {
  .news section img {
    display: none;
  }
  .logo section {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70.5rem;
    margin: 0 0.75rem;
    *width: 70.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rds section {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70.5rem;
    margin: 0 0.75rem;
    *width: 70.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  .about section p,
  .about section h2 {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 34.5rem;
    margin: 0 0.75rem;
    *width: 34.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  .news section p,
  .news section h2 {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 34.5rem;
    margin: 0 0.75rem;
    *width: 34.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
  h1 {
    font-size: 2.6180339999999998rem;
  }
  h2 {
    font-size: 2.236068rem;
  }
  p,
  li {
    font-size: 1.381966rem;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    display: none;
  }
  .about section,
  .news section {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70.5rem;
    margin: 0 0.75rem;
    *width: 70.5rem -correction;
    *margin: 0 0.75rem -correction;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .about h1 {
    font-size: 4.2360679999999995rem;
  }
  h1 {
    font-size: 4.2360679999999995rem;
  }
  h2 {
    font-size: 3rem;
  }
  p,
  li {
    font-size: 2rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  .about h1 {
    font-size: 4.2360679999999995rem;
  }
  h1 {
    font-size: 4.2360679999999995rem;
  }
  h2 {
    font-size: 3.2360679999999995rem;
  }
  p,
  li {
    font-size: 2.236068rem;
  }
}
@media screen and (max-width: 499px) {
  .about h1 {
    font-size: 4.854101999999999rem;
  }
  h1 {
    font-size: 4.854101999999999rem;
  }
  h2 {
    font-size: 4.2360679999999995rem;
  }
  p,
  li {
    font-size: 2.6180339999999998rem;
  }
}
