body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  font-size: 12pt;
  font-family: 'helvetica neue', 'Roboto', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  font-weight: 500;
  color: #5c6f8a;
  margin: 0 0 1em;
}
h2 {
  font-weight: 500;
  padding: 0 0 1em;
}
p {
  padding: 0 0 1em;
}
header,
footer,
section {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *width: 102.08333333333333% -correction;
  *margin: 0 -1.0416666666666665% -correction;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
header {
  margin-top: 1em;
  margin-bottom: 1em;
  vertical-align: middle;
}
header figure,
header h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  text-align: right;
}
nav li {
  display: inline-block;
  list-style: none outside none;
  padding-right: 1em;
}
nav li:last-child {
  padding-right: 0;
}
section {
  padding: 0 0 3em;
}
section:before,
section:after {
  display: table;
  content: "";
  line-height: 0;
}
section:after {
  clear: both;
}
section h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.about h1 {
  text-align: center;
  padding: 1.5em 0;
}
.about p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.rds h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.regions-list {
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.916666666666664% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.regions-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 72.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.news-post {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.logo p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.hero figure {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media screen and (max-width: 767px) {
  .about p,
  .news-post,
  .logo p {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
footer p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
