// grid
@import grid

// variables
$fontsize = 14pt
$bodypadding = 2rem

$blue = #007CC2
$darkblue = #004973
$bluegray = #5C6A73
$darkgray = #333
$gray = #777
$lightgray = #bbb
$white = #fff
$whiteish = #eee
$green = #0ACFAC
$red = #D55340

$phi = 0.618034
$0 = 1.0
$1 = $phi + $0      // 1.6250
$2 = $0 + $1        // 2.6250
$3 = $1 + $2        // 4.2500
$4 = $2 + $3        // 6.8750
$5 = $3 + $4

// main
*
  box-sizing: border-box

html
  font: 400 100%/$1 em 'Roboto', sans-serif

body
  margin: 0
  width: 100%
  color: $gray

h1, h2
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

h1
  margin: 0
  padding: 0 0 ($2 rem)
  color: $blue
  font-weight: 400
  font-size: $1 + $phi rem
  line-height: 1.2em

h2
  margin: 0
  padding: 0 0 ($phi rem)
  font-weight: 400
  font-size: $1 rem
  color: $lightgray

ul
  padding: 0

li
  list-style: none outside none

p, li
  margin: 0
  padding: 0 0 ($1 rem)
  font-size: $0 rem
  color: $gray

p
  font-family: georgia, serif

a
  text-decoration: none

img
  max-width: 100%
  width: auto\9
  height: auto
  vertical-align: middle
  border: 0
  -ms-interpolation-mode: bicubic

figure
  margin: 0

// containers
header, footer, body>section
  row(12)
  margin: 0 auto

// clear floats
header:before, header:after, 
footer:before, footer:after, 
body>section:before, body>section:after
  display: table
  content: ""
  line-height: 0

header:after, 
footer:after, 
body>section:after
  clear: both

// header and nav
header
  vertical-align: middle
  padding: (3rem) 0 (1rem)
  section>*
    padding: 0
  h1
    a
      font-weight: 900
      color: $blue
  figure
    img
      width: 18rem

nav
  a
    color: $blue
    &:hover
      color: $darkblue

@media screen and (min-width: 500px)
  header
    h1, figure
      column(4)
  nav
    column(8)
    text-align: right
    li
      display: inline-block
      padding: 0 ($2 + $phi rem) 0 0
      &:last-child
        padding-right: 0

@media screen and (max-width: 499px)
  header
    h1, figure
      column(12)
  nav
    column(12)
    text-align: left
    li
      display: inline-block
      padding: 0 0 0 ($3 rem)
      &:first-child
        padding-left: 0

// sections
body>section
  padding: ($2 rem) 0
  h1
    column(12)
    padding-top: $1 rem

// about section
.about 
  h1
    color: $bluegray
    text-align: center
    font-size: 3rem
    line-height: 1.2em
    padding: ($1 rem) 0 ($3 + $phi rem)
    font-weight: 300
  section
    text-align: center
  i
    font-size: $4 + $phi rem
    line-height: 1.5em
  // change these icon colors later
  .icon-headphones
    color: $green
  .icon-comments
    color: #008EDC
  .icon-heart
    color: $red

// directors section
.rds 
  h1
    column(12)
  .regions
    ul li
      column(3)
      font-size: $1 rem
      background: $whiteish
      padding: 0 ($phi rem)
      margin-bottom: 1.5rem
      &:hover
        background: $bluegray
        cursor: pointer
      h2
        color: $gray
        font-size: 1.3rem
        padding-bottom: 0
        &:hover
          color: $white
  .directors
    h2
      column(12)
      padding: ($2 rem) 0
      color: $bluegray
    ul li
      column(3)
      text-align: center
      img
        width: 10.5rem
        -webkit-border-radius: 5.75rem
        -moz-border-radius: 5.75rem
        border-radius: 5.75rem
        margin-top: $0 rem
      .name, .location
        font-family: inherit
        padding: 0
      .name
        margin-top: $0 rem
        color: $blue
      .location
        color: $lightgray

// news section
.news
  section
    img
      margin: 0 0 ($0 rem)

// logo section

// footer
.container
  background: $bluegray
  padding: ($3 rem) 0
  margin-top: $3 rem

footer
  p, ul
    column(12)
  p
    color: $lightgray
    font-family: inherit
    padding: 0
  ul
    margin-bottom: $0 rem
  li, li a
    color: $white
    padding: 0 ($phi rem) 0 0
    display: inline
    &:first-child
      padding-left: 0

// shitload of media queries, will reduce to three in later version
@media screen and (max-width: 319px)
  html
    font-size: 4px
@media screen and (min-width: 320px) and (max-width:409px)
  html
    font-size: 5px
@media screen and (min-width: 410px) and (max-width:449px)
  html
    font-size: 5.5px

@media screen and (min-width: 450px) and (max-width: 499px)
  html
    font-size: 6px
@media screen and (min-width: 500px) and (max-width: 529px)
  html
    font-size: 6.5px
@media screen and (min-width: 530px) and (max-width: 599px)
  html
    font-size: 7px

@media screen and (min-width: 600px) and (max-width: 679px)
  html
    font-size: 8px
@media screen and (min-width: 680px) and (max-width: 767px)
  html
    font-size: 9px

@media screen and (min-width: 768px) and (max-width: 899px)
  html
    font-size: 64%
@media screen and (min-width: 900px) and (max-width: 1023px)
  html
    font-size: 73%

@media screen and (min-width: 1024px) and (max-width: 1123px)
  html
    font-size: 87%
@media screen and (min-width: 1124px) and (max-width: 1223px)
  html
    font-size: 92%
@media screen and (min-width: 1224px)
  html
    font-size: 92%

@media screen and (min-width: 1024px)
  .about section, .news section
    column(4)
  .logo
    section
      column(6)

@media screen and (max-width: 1023px)
  .news
    section
      img
        display: none
  .logo
    section
      column(12)

@media screen and (min-width: 768px) and (max-width: 1023px)
  .rds section
    column(12)
  .about 
    section
      p, h2
        column(6)
  .news
    section
      p, h2
        column(6)
  h1
    font-size: $2 rem
  h2
    font-size: $1 + $phi rem
  p, li
    font-size: $0 * (2 - $phi) rem


@media screen and (max-width: 767px)
  .hero 
    display: none
  .about section, .news section
    column(12)

@media screen and (min-width: 600px) and (max-width: 767px)
  .about
    h1
      font-size: $3 rem
  h1
    font-size: $3 rem
  h2
    font-size: $2 + (1 - $phi) rem
  p, li
    font-size: $1 + (1 - $phi) rem

@media screen and (min-width: 500px) and (max-width: 599px)
  .about
    h1
      font-size: $3 rem
  h1
    font-size: $3 rem
  h2
    font-size: $2 + $phi rem
  p, li
    font-size: $1 + $phi rem

@media screen and (max-width: 499px)
  .about
    h1
      font-size: $3 + $phi rem
  h1
    font-size: $3 + $phi rem
  h2
    font-size: $3 rem
  p, li
    font-size: $2 rem