// grid
@import grid


// mixins
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

// variables
$blue = #007CC2
$darkblue = #004973
$bluegray = #5C6A73
$green = #0ACFAC
$red = #D55340
$darkgray = #39454C
$gray = #7E898F
$lightgray = #B2BCC2
$white = #fff

// 3:5 stranded scale
$sn3 = 0.4615
$sn2 = 0.6154
$sn1 = 0.7692
$s0 = 1.0
$s1 = 1.2308
$s2 = 1.6154
$s3 = 2.0
$s4 = 2.6154
$s5 = 3.2308
$s6 = 4.2308
$s7 = 5.2308
$s8 = 6.8462
$s9 = 8.4616

// main
*
  box-sizing border-box

html
  font 400 100%/$s2 em 'Roboto', sans-serif

body
  margin 0
  width 100%
  color $gray
  border-top 5px solid $lightgray

h1, h2
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  text-rendering optimizeLegibility

h1
  margin 0
  padding 0 0 ($sn1 em)
  color $blue
  font-weight 400
  font-size $s3 rem
  line-height $s2 em

h2
  margin 0
  padding 0 0 ($sn1 rem)
  color $lightgray
  font-weight 400
  font-size $s2 rem
  line-height $s2 em

ul
  margin 0
  padding 0

li
  list-style none outside none
  display inline-block

p, li
  margin 0
  padding 0 0 ($s3 em)
  color $gray
  font-size $s0 rem

p
  font-family georgia, serif

a
  text-decoration none
  color $blue
  &:hover
    color $darkblue

img
  max-width 100%
  width auto\9
  height auto
  vertical-align middle
  border 0
  -ms-interpolation-mode bicubic

figure
  margin 0

// containers
header, footer, body>section
  row(12)
  clearfix()
  margin 0 auto

// header and nav
header
  padding ($s5 em) 0 ($s3 em)
  figure
    column(6)
  figure img, nav ul
    height $s6 rem

nav
  column(6)
  ul
    display table
  li
    display table-cell
    width 100%
    height 100%
    vertical-align middle
    text-align right
    font-size $s1 rem
    padding 0 ($s4 rem) 0 0
    &:last-child
      padding-right 0
  a
    color $gray
    &:hover
      color $blue

// sections
body>section
  padding ($s2 rem) 0
  h1
    column(12)
    padding-top $s0 rem // anchors will have padding at top

// about section
.about
  text-align center
  h1
    column(10)
    offset(1)
    padding ($sn3 em) 0 ($s0 em)
    color $bluegray
    font-weight 300
    font-size $s4 rem
    line-height $s1 em
  i
    font-size $s8 rem
    line-height $s2 em
  .icon-headphones
    color $green
  .icon-comments
    color $blue
  .icon-bullhorn
    color $red

// directors section
.rds 
  .regions
    ul li
      column(2)
      padding-bottom 0
      h2
        margin-bottom 5px
        padding ($sn3 rem) ($sn2 em)
        color $white
        background $bluegray
        font-size $s1 rem
        &:hover
          color $white
          background $blue
          cursor pointer
  .directors
    h2
      column(12)
      padding ($s3 rem) 0 ($s5 rem)
      color $bluegray
    ul li
      column(3)
      text-align center
      img
        width 70%
        border-radius(70%)
        margin-top $s0 rem
      .name, .location
        font-family inherit
        padding 0
      .name
        margin-top $s0 rem
        color $bluegray
      .location
        color $lightgray

// news section
.news
  section
    img
      margin 0 0 ($s0 rem)

// logo section
.logo
  section
    column(6)

// footer
.container
  background $bluegray
  padding ($s6 rem) 0
  margin-top $s6 em

footer
  p, ul
    column(12)
  p
    color $lightgray
    font-family inherit
    padding 0
  ul
    margin-bottom $s0 em
  li, li a
    color $white
    padding 0 ($sn2 rem) 0 0
    display inline
    &:first-child
      padding-left 0
    &:hover
      color $white

// media queries
// large
@media screen and (min-width: 1216px)
  html
    font-size 92%
  .about section, .news section
    column(4)

// small and medium
@media screen and (max-width: 1215px)
  header
    padding-top $s6 em
  .news
      img
        display none
  .logo
    section
      column(12)

// medium
@media screen and (min-width: 768px) and (max-width: 1215px)
  html
    font-size 56%
  h1
    font-size $s5 rem
  h2
    font-size $s4 rem
  p, li
    font-size $s3 rem
  header 
    figure img, nav ul
        height $s7 rem
  nav
    li
      font-size $s3 rem
  .about 
    h1
      column(12)
      font-size $s5 rem
      padding ($s0 em) 0 ($s2 em)
    section
      clearfix()
      i
        column(2)
        offset(1)
        line-height $s0 em
      p
        margin-top $s1 rem
        text-align left
        column(8)
  .rds
    :>all
      clearfix()
    .regions ul li
      column(4)
      h2
        font-size $s3 rem
    .directors ul li
      column(4)
      img
        width 80%
        border-radius(80%)
  .news
    section
      h2, p
        column(6)

// small
@media screen and (max-width: 767px)
  html
    font-size 8px
  h1
    font-size $s5 rem
  h2
    font-size $s4 rem
  p, li
    font-size $s3 rem
  header, footer, body>section
    width 100%
    max-width 480px
    padding-left ($s4 rem)
    padding-right ($s4 rem)
  header
    figure img, nav ul
        height $s8 rem
  nav
    li
      font-size $s3 rem
      text-align right
      width 100%
      height 100%
      width auto
  body>section h1,
  header figure, nav,
  .about h1, .about section,
  .rds .directors h2,
  .news section,
  .logo section,
  footer p, footer ul
    margin-left 100% * (gutter-width * 0.5 / _gridsystem-width)
    *margin-left 100% * (gutter-width * 0.5 / _gridsystem-width) - correction
    margin-right 100% * (gutter-width * 0.5 / _gridsystem-width)
    *margin-left 100% * (gutter-width * 0.5 / _gridsystem-width) - correction
    width 100%
  .about
    text-align left
    h1
      font-size $s5 rem
      padding-bottom $s2 em
    section p
  .rds
    .regions ul li, .directors ul li
      //column(6)
      width 100% * ((((gutter-width + column-width ) * 6) - gutter-width) / _gridsystem-width)
      margin 0 100% * (gutter-width * 0.5 / _gridsystem-width)
      *width 100% * ((((gutter-width + column-width ) * 6) - gutter-width) / _gridsystem-width) - correction
      *margin 0 100% * (gutter-width * 0.5 / _gridsystem-width)-  correction
      h2
        font-size $s3 rem
  .about
    section
      i
        display none

