body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: DINWeb;
  src: url("../fonts/DINWeb.woff") format("woff");
}
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  transition: all 0.05s linear;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  font: 400 12pt/1.5em DINWeb, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  color: #094fb2;
  font-weight: 400;
  margin: 0 0 2.625 em;
  font-size: 2em;
  line-height: 1.5em;
  padding-bottom: 1em;
}
h2 {
  font-weight: 400;
  margin: 0 0 2.625 em;
  color: #aaa;
}
p {
  padding: 0 0 1em;
}
header,
footer,
section {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *width: 102.08333333333333% -correction;
  *margin: 0 -1.0416666666666665% -correction;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
header {
  margin-top: 1.5em;
  margin-bottom: 4.25em;
  vertical-align: middle;
}
header figure,
header h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
header figure img {
  width: 18em;
}
header h1 {
  font-family: DINWeb-Bold;
}
nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  text-align: right;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 400;
}
nav li {
  display: inline-block;
  list-style: none outside none;
  padding-right: 1.625em;
}
nav li:last-child {
  padding-right: 0;
}
section {
  padding: 3em 0 4.5em;
}
section:before,
section:after {
  display: table;
  content: "";
  line-height: 0;
}
section:after {
  clear: both;
}
section h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.about {
  text-align: center;
}
.about h1 {
  color: #5c6573;
  text-align: center;
  padding: 1em 0;
  font-weight: 300;
  font-size: 3em;
  line-height: 1.2em;
}
.subheading {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.rds h1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.regions-list {
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.916666666666664% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.regions-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 72.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.news-post {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.logo p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.hero figure {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media screen and (max-width: 767px) {
  .subheading,
  .news-post,
  .logo p {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
footer p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  font-size: 0.8em;
  color: #aaa;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 10.2pt;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 10.8pt;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 11.399999999999999pt;
  }
}
@media screen and (min-width: 1025px) {
  body {
    font-size: 12pt;
  }
}
