body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: DINWeb;
  src: url("../fonts/DINWeb.woff") format("woff");
}
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  transition: all 0.05s linear;
}
html {
  font: 400 95%/1.5em DINWeb, sans-serif;
}
body {
  margin: 0;
  width: 100%;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0;
  padding: 0 0 1.625rem;
  color: #094fb2;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 1.2em;
}
h2 {
  margin: 0;
  padding: 0 0 1rem;
  font-weight: 400;
  font-size: 1.625rem;
  color: #aaa;
}
p,
li {
  margin: 0;
  padding: 0 0 1rem;
  font-size: 1rem;
  color: #444;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
figure {
  margin: 0;
}
header,
footer,
section {
  display: block;
  width: 72rem;
  margin: 0 -0.75rem;
  *width: 72rem -correction;
  *margin: 0 -0.75rem -correction;
  margin: 0 auto;
}
header:before,
header:after,
footer:before,
footer:after,
section:before,
section:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after,
footer:after,
section:after {
  clear: both;
}
header {
  vertical-align: middle;
  padding: 1rem 0;
}
header figure,
header h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
}
header figure img {
  width: 18rem;
}
header h1 {
  font-family: DINWeb-Bold;
}
nav {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
  text-align: right;
  font-size: 1rem;
  text-transform: uppercase;
}
nav li {
  display: inline-block;
  list-style: none outside none;
  padding-right: 1.625rem;
}
nav li:last-child {
  padding-right: 0;
}
section {
  padding: 3em 0;
}
section h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.about h1 {
  color: #5c6573;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2em;
  padding: 1.625rem 0 4.25rem;
}
.subheading {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 22.5rem;
  margin: 0 0.75rem;
  *width: 22.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.rds h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.regions-list {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 16.5rem;
  margin: 0 0.75rem;
  *width: 16.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.regions-content {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 52.5rem;
  margin: 0 0.75rem;
  *width: 52.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.news-post {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 22.5rem;
  margin: 0 0.75rem;
  *width: 22.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.news-post img {
  margin: 0 0 1.625rem;
}
.logo p {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.hero figure {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
footer p {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
  font-size: 0.8em;
  color: #aaa;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 11.9pt;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 12.6pt;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 13.299999999999999pt;
  }
}
@media screen and (min-width: 1025px) {
  body {
    font-size: 14pt;
  }
}
