body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: DINWeb;
  src: url("../fonts/DINWeb.woff") format("woff");
}
@font-face {
  font-family: DINWeb-Bold;
  src: url("../fonts/DINWeb-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
}
html {
  font: 400 95%/1.625 em 'Roboto', sans-serif;
}
body {
  margin: 0;
  width: 100%;
  color: #777;
}
h1,
h2 {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0;
  padding: 0 0 1.625rem;
  color: #094fb2;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.2em;
}
h2 {
  margin: 0;
  padding: 0 0 1rem;
  font-weight: 500;
  font-size: 1.625rem;
  color: #ccc;
}
p,
li {
  margin: 0;
  padding: 0 0 1rem;
  font-size: 1rem;
  color: #777;
}
p {
  font-family: georgia, serif;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
figure {
  margin: 0;
}
header,
footer,
body>section {
  display: block;
  width: 72rem;
  margin: 0 -0.75rem;
  *width: 72rem -correction;
  *margin: 0 -0.75rem -correction;
  margin: 0 auto;
}
header:before,
header:after,
footer:before,
footer:after,
body>section:before,
body>section:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after,
footer:after,
body>section:after {
  clear: both;
}
header {
  vertical-align: middle;
  padding: 3rem 0 1rem;
}
header section>* {
  padding: 0;
}
header h1,
header figure {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
}
header h1 {
  font-weight: 600;
}
header figure {
  width: 18rem;
}
nav {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
  text-align: right;
}
nav li {
  font-size: 1rem;
  display: inline-block;
  list-style: none outside none;
  padding: 0 2.625rem 0 0;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  text-decoration: none;
}
body>section {
  padding: 3em 0;
}
body>section h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.about h1 {
  color: #5c6573;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2em;
  padding: 1rem 0 4.25rem;
  font-weight: 300;
}
.subheading {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 22.5rem;
  margin: 0 0.75rem;
  *width: 22.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.rds h1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.regions-list {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 16.5rem;
  margin: 0 0.75rem;
  *width: 16.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.regions-content {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 52.5rem;
  margin: 0 0.75rem;
  *width: 52.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.news-post {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 22.5rem;
  margin: 0 0.75rem;
  *width: 22.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.news-post img {
  margin: 0 0 1.625rem;
}
.logo p {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 34.5rem;
  margin: 0 0.75rem;
  *width: 34.5rem -correction;
  *margin: 0 0.75rem -correction;
}
.hero figure {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
}
footer p {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 70.5rem;
  margin: 0 0.75rem;
  *width: 70.5rem -correction;
  *margin: 0 0.75rem -correction;
  font-size: 0.8em;
  color: #ccc;
  background: #f00;
  position: relative;
}
footer p:before,
footer p:after {
  content: "";
  position: absolute;
  background: #f00;
/* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;
/* some huge width */
}
footer p:before {
  right: 100%;
}
footer p:after {
  left: 100%;
}
@media screen and (max-width: 30rem) {
  html {
    font-size: 84%;
  }
}
@media screen and (min-width: 30rem) and (max-width: 50rem) {
  html {
    font-size: 84%;
  }
}
@media screen and (min-width: 50rem) and (max-width: 70rem) {
  html {
    font-size: 90%;
  }
}
@media screen and (min-width: 70rem) {
  html {
    font-size: 100%;
  }
}
