// grid
@import grid

// variables
$fontsize = 14pt
$bodypadding = 2rem

$blue = #094FB2
$darkblue = #063373
$bluegray = #5C6573
$gray = #777
$lightgray = #bbb
$white = #fff

$phi = 0.618034
$0 = 1.0
$1 = $phi + $0      // 1.6250
$2 = $0 + $1        // 2.6250
$3 = $1 + $2        // 4.2500
$4 = $2 + $3        // 6.8750

// main
*
  box-sizing: border-box
//  -webkit-transition: all 0.05s linear
//  -moz-transition: all 0.05s linear
//  transition: all 0.05s linear

html
  font: 400 95%/$1 em 'Roboto', sans-serif
  overflow-x: hidden

body
  margin: 0
  width: 100%
  color: $gray

h1, h2
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

h1
  margin: 0
  padding: 0 0 ($1 rem)
  color: $blue
  font-weight: 400
  font-size: $1 + $phi rem
  line-height: 1.2em

h2
  margin: 0
  padding: 0 0 ($phi rem)
  font-weight: 400
  font-size: $1 rem
  color: $lightgray

p, li
  margin: 0
  padding: 0 0 ($0 rem)
  font-size: $0 rem
  color: $gray

p
  font-family: georgia, serif

a
  text-decoration: none

img
  max-width: 100%
  width: auto\9
  height: auto
  vertical-align: middle
  border: 0
  -ms-interpolation-mode: bicubic

figure
  margin: 0

// containers
header, footer, body>section
  row(12)
  margin: 0 auto

// clear floats
header:before, header:after, 
footer:before, footer:after, 
body>section:before, body>section:after
  display: table
  content: ""
  line-height: 0

header:after, 
footer:after, 
body>section:after
  clear: both

// header and nav
header
  vertical-align: middle
  padding: (3rem) 0 (1rem)
  section>*
    padding: 0
  h1, figure
    column(6)
  h1
    font-weight: 700
  figure
    width: 18rem

nav
  column(6)
  text-align: right
  li
    font-size: $0 rem
    display: inline-block
    list-style: none outside none
    padding: 0 ($2 rem) 0 0
    &:last-child
      padding-right: 0
  a
    color: $blue
    &:hover
      color: $darkblue

// general sections
body>section
  padding: 3em 0
  h1
    column(12)

// about section
.about 
  h1
    color: $bluegray
    text-align: center
    font-size: 3rem
    line-height: 1.2em
    padding: ($0 rem) 0 ($3 rem)
    font-weight: 300
  section
    column(4)

// hero section
.hero 
  figure
    column(12)

// directors section
.rds h1
  column(12)

// change later!
.regions-list 
  column(3)

.regions-content
  column(9)

// news section
.news
  section
    column(4)
    img
      margin: 0 0 ($0 rem)

// logo section
.logo
  section
    column(6)

// footer
.container
  background: $bluegray
  padding: ($2 rem) 0
  margin-top: $2 rem

footer
  p
    column(12)
    color: $white
    font-family: inherit
    padding: 0


// media queries
@media screen and (max-width: 30rem)
  html
    font-size: 84%
@media screen and (min-width: 30rem) and (max-width: 50rem)
  html
    font-size: 84%
@media screen and (min-width: 50rem) and (max-width: 70rem)
  html
    font-size: 90%
@media screen and (min-width: 70rem)
  html
    font-size: 100%