extends template2
block content

  header
    section
      figure
        a(href='/')
          img(src='/logo/msrd-logo-plural-375.png')
      //h1 
      //  a(href='#') msrd.io
      nav
        ul
          li
            a(href="#about") About
          li
            a(href="#directors") Directors
          li
            a(href="#news") News
          li
            a(href="#logo") Logo

  section.about
    a(name='about')
    h1 We are independent developers and technologists bringing you and Microsoft together.
    section
      i.icon-headphones
      p.
        <strong>We listen to you.</strong> We hear what you love, what you hate, what you want to change.
    section
      i.icon-comments
      p.
        <strong>We give feedback</strong> based on what we hear, see, and experience in the world of technology.
    section
      i.icon-bullhorn
      p.
        <strong>We set the wheels in motion</strong> to make the Microsoft community a happier place.

  section.rds
    a(name='directors')
    h1 Regional Directors
    section.regions
      ul
        li 
          a 
            h2 North America
        li
          a 
            h2 South America
        li 
          a 
            h2 Europe
        li 
          a 
            h2 Asia Pacific
        li
          a 
            h2 Middle East
        li
          a 
            h2 Africa
    section.directors
      h2 North America: US West
      ul
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA
        li
          a(href='')
            img(src='http://placehold.it/150x150')
            p.name Scott Stanfield
            p.location San Francisco, CA USA

  section.news
    a(name='news')
    h1 News
    section
      figure
        a(href='#')
          img(src='http://placehold.it/647x400')
          h2 Post title 1
          p.
            Grunge at urna, saved by the bell libero praesent flip flops sit. Eleifend julia roberts mauris big lebowski.
    section
      figure
        a(href='#')
          img(src='http://placehold.it/647x400')
          h2 Post title 2
          p.
            Oregon trail facilisis lorem hootie and the blowfish, id hendrerit roseanne barr rhoncus diam amet.
    section
      figure
        a(href='#')
          img(src='http://placehold.it/647x400')
          h2 Post title 3
          p.
            Mi fargo nunc aaahh real monsters elit, libero cras in columbine at consectetur.

  section.logo
    a(name='logo')
    h1 Logo
    section
      h2 Details
      p.
        Fusce donec a lunchables nam, kyoto protocol trainers tellus portable cd players. Diam chillax ut mauris a alta vista. Razor scooter ut ken griffey jr sagittis. Lobortis amet integer ultrices light up sneakers zebra stripes, netus phat wallet chains amet leo when you’re lost out there and you’re all alone cursus.
    section
      h2 Download
      p.
        Schindler’s list sit duis pharetra smells like teen spirit sed fringilla, ullamcorper aenean porttitor nullam cut-off jean shorts sagittis est. Phasellus rugrats auctor id quis, torquent daria fargo porta. Diam all that jumanji discman lorem toy story. Facilisis alta vista tincidunt, when you’re lost out there and you’re all alone arcu puff daddy.

  div.container
    footer
      ul
        i.icon-github-sign
        li
          a(href='https://github.com/rm8t/msrd.io') Source code on GitHub
        i.icon-twitter
        li
          a(href='https://twitter.com/msrd') Twitter
      p Built in Point Richmond, California.

