doctype 5
//if lt IE 7
    html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
    html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
    html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        title= title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        // link(rel='stylesheet', href='ss/normalize.css')
        // link(rel='stylesheet', href='ss/h5bp.css')
        link(rel='stylesheet', href='g2.css')
        link(rel='stylesheet', href='ss/font-awesome.min.css')

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

        script(src='/js/modernizr-2.6.2.min.js')

    body
        //if lt IE 7
            p.chromeframe.
                You are using an outdated browser.
                <a href="http://browsehappy.com/">Update today</a>

        block content

        script
          var _gauges = _gauges || [];
            (function() {
              var t   = document.createElement('script');
              t.type  = 'text/javascript';
              t.async = true;
              t.id    = 'gauges-tracker';
              t.setAttribute('data-site-id', '50cf5fd6f5a1f51568000049');
              t.src = '//secure.gaug.es/track.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(t, s);
            })();
