<!DOCTYPE html>

<html ng-app="msrdio">
<head>
	<meta charset="utf-8" />
	<title>Flawless-Semantics | Showoff - Pixel Based Grid</title>

    <!-- Stylesheets -->
	<link rel="stylesheet" href="search.less" type="text/less" media="screen" />
	
    <!-- Scripts -->
	<script src="./js/less-1.3.3.min.js" type="text/javascript"> less = { env: "production"}; </script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'></script>
	<script src='js/search.js'></script>
	<!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="page">
	
<section id="auto">

	<div class="first-row" ng-controller='listCtrl'>
		
		<div class="intro">
			<h3 class="show">Automatic rows</h3>
			<code>Microsoft Regional Directors - Total:{{directors.length}} | Shown:{{filteredData.length}}</code>	
			<code>Search:<input ng-model="searchText" type="text" autofocus="autofocus"/></code>
		</div>

		<div>
			<div ng-repeat="director in filteredData | filter:searchText | orderBy:'Last'" >
				<div class="box">
					<code>{{director.First}} {{director.Last}}</code>
				</div> 
			</div>
		</div>

	</div>
</section>
</div>
</body>
</html>
