extends templates/h5bp
html 
  block  head
    include partials/header

  block jumbotron
    include partials/hero

  block content
    include partials/map
    include partials/news
    include partials/search
    include partials/footer

