extends wintersmith/templates/h5bp

html
  block hero
    include wintersmith/partials/index/hero

  block content
    include wintersmith/partials/index/map
    include wintersmith/partials/index/news
    include wintersmith/partials/index/search

