extends templates/h5bp

html
	block hero

		// Hero image
		div.container-fluid
			div.center.hero-unit
				div.container
					img(src='../images/logo/msrd-logo-192px-alpha.png')

	block content
		// What is a RD
		section.well
			.row-fluid
				.span12.lead.text-center
					h1.rdHero We are independent developers and technologists bringing you and Microsoft together.
					.row-fluid
						section.span4
							i.icon-headphones
							p
								strong We listen to you.
								|  We hear what you love, what you hate, what you want to change.
						section.span4
							i.icon-comments
							p
								strong We give feedback
								|  based on what we hear, see and experience in the world of technology.
						section.span4
							i.icon-heart-empty
							p
								strong We set the wheels in motion
								|  to make the Microsoft community a happier place.



		// NEWS
		//
		section.well(ng-controller='newsCtrl')
			div.row-fluid
				article.span4(ng-repeat='article in articles | orderBy:date')
					div
						a(ng-href='articles/{{article.basename}}.html')
						img(src='../images/logo/msrd-logo-384px.png', alt='sample image', style='width:100%')
					header
						a(ng-href='articles/{{article.basename}}.html')
						h4(ng-bind='article.title')
					div(ng-bind='article.preview')
					footer
						a(ng-href='articles/{{article.basename}}.html') Read More


		// SEARCH
		//
		section.well(ng-controller='searchCtrl')
			div 
				form.form-search()
					div.input-append
						input.span2.search-query(type='text', ng-model='searchText', placeholder='search', autofocus='autofocus')	
						button.btn(type='submit', ng-click='clear()') X
					div.row-fluid
						div.span9
							ul.nav.nav-pills
								li.rdpill(ng-animate='"animate"', ng-repeat='item in items | filter:searchText')
									a(ng-mouseover='show(item)') 
										{{item.FullName}}
						div.span3
							div
								img.circular(ng-src='{{displayeditem.Avatar}}', style='margin-bottom:10px')
							div
								{{displayeditem.First}} {{displayeditem.Last}}
							div
								{{displayeditem.City}} {{displayeditem.Country}}


		// MAP: I'm the map, I'm the map
		//
		section.well.mapSectionSize
			#map_canvas()
