extends wintersmith/templates/h5bp

block content

  h1 msrd
    span .io

  p.slug microsoft regional directors 

  p#dimensions for debugging
  
  :markdown
    The Microsoft Regional Director program has a new logo. In keeping with the 
    spirit of Microsoft's 2012 corporate and product line rebranding, the <abbr>RD</abbr>
    logo was refashioned to reflect their new design asthetic:

    - Monochromatic
    - Segoe typeface
    - Simple layout and icon
    - Semantic HTML

  h2 The Logo
  p
    Three sizes of <abbr>PNG</abbr> images to choose from, with two variations:
    white background or transparent background.

  :markdown
    - Small: 336 x 96 pixels [white][1] [transparent][2]
    - Medium: 672 x 192 pixels [white][3] [transparent][4]
    - Large: 1344 x 384 pixels [white][5] [transparent][6]

    [1]: logo/msrd-logo-96px.png "small white"
    [2]: logo/msrd-logo-96px-alpha.png "small transparent"
    [3]: logo/msrd-logo-192px.png "small white"
    [4]: logo/msrd-logo-192px-alpha.png "small transparent"
    [5]: logo/msrd-logo-384px.png "small white"
    [6]: logo/msrd-logo-384px-alpha.png "small transparent"

  h3.small Small

  figure
    a(href='logo/msrd-logo-96px.png')
      img(src='logo/msrd-logo-96px.png', alt='logo 96 pixels', width=336, height=96)
    figcaption 336x96 pixels white

  figure
    a(href='logo/msrd-logo-96px-alpha.png')
      img(src='logo/msrd-logo-96px-alpha.png', width=336, height=96)
    figcaption 336x96 pixels transparent 

  div.medium
    h3 Medium

    figure
      a(href='logo/msrd-logo-192px.png')
        img(src='logo/msrd-logo-192px.png', width=672, height=192)
      figcaption 672x192 pixels white

  h2 Details

  p.
    Compare the new logo with the previous version, which was in use for the
    past decade. It featured the as-of-then corporate typeface with a narrow
    band of the four primary Microsoft colors. 

  figure
    a(href='logo/msrd-old-96px.jpg')
      img(src='logo/msrd-old-96px.jpg', width=212, height=96)
    figcaption rd logo prior to 2013

  :markdown
      Then contrast the new logo within the larger Microsoft [product family like Office and Xbox](http://www.neowin.net/news/the-new-microsoft-brand-family-at-a-glance).

  p More details about the logo files
    ul
      li Rendered from Adobe Illustrator 
      li File size minimized and optimized with <a href='http://optipng.sourceforge.net'>OptiPNG</a>
      li Image height is evenly divisble by 16 or 24 pixels for typographical baseline
      li The logo is a 3 ½ : 1 ratio  
      li The screen color is <span class="invert">rgb (0, 125, 195)</span> or
         <span class="invert">hsl (202, 100%, 38%)</span>
      li For print, use <span class="invert">cmyk (85, 50, 0, 0)</span>
      li.
         Designed by Sean Dolinsky at <a href="http://www.vertigo.com">Vertigo</a>. 
         Some of his <a href='logo/sketches.png'>early sketches</a>.

  :markdown
    Explore the source code at [github](http://github.com/msrd/msrd.io).

  h3 Usage Guidelines <abbr>PDF</abbr>
  p We put together usage guidelines for the logo in a convienent 5-page <abbr>PDF</abbr>.
  p 
    a(href='logo/msrd-guidelines.pdf')
      img(src='logo/msrd-guidelines-preview.png', width=672, height=192)

  h2 Download
  p Download all the images in one 1.5M zip file. Contents are:
  form(method='get', action='logo/msrd-logos.zip')
    button(type="submit") Download All

  pre.
    msrd-logo-96px.png                2,473 bytes
    msrd-logo-96px-alpha.png          2,473
    msrd-logo-192px.png               5,444
    msrd-logo-192px-alpha.png         5,308
    msrd-logo-384px.png              11,927
    msrd-logo-384px-alpha.png        11,557
    msrd-logo.eps                   523,270
    msrd-guidelines.pdf           1,266,849

  p &nbsp;
  p &nbsp;


