extends templates/h5bp
block head
    title News
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')

    // build:css(tmp) map.css
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700')
    link(rel='stylesheet', href='styles/map.css')
    // endbuild


block content
    #map_canvas()

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRmK3DGgin3sIKuPhthWqFjIrt-WP11U&sensor=false')
    script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js')
    script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js')
    script(type='text/javascript', src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js')
    script(type='text/javascript', src='js/map.js')
