!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css')
    style(type='text/css')
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
      .info-window { font-family: sans-serif; color: #333 }
      .info-window > * { display: block }
      .director-name { font-weight: 700 }
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRmK3DGgin3sIKuPhthWqFjIrt-WP11U&sensor=false')
          
    script(type='text/javascript')
      var script = '<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer';
      if (document.location.search.indexOf('compiled') !== -1) {
      script += '_compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
    script(type='text/javascript', src='map.js')
  body
    #map_canvas(style='width: 100%; height: 100%;')
