extends templates/h5bp
block head
    title News

    // build:css(tmp) news.css
    link(rel='stylesheet', href='styles/reuze.css')
    // endbuild

    script(src='components/angular/angular.js')
    script(src='scripts/news.js')

block content
    h1 News
    .ac.three-column.image-banner.image-border-dark(ng-app='news', ng-controller='newsCtrl')
      article(ng-repeat='article in articles | orderBy:date')
        .image-feat(style='width: 250px;')
          a(ng-href='articles/{{article.basename}}.html')
            img(src='http://placehold.it/250x100/efefef', alt='sample image')
        header
          a(ng-href='articles/{{article.basename}}.html')
            h4.title(ng-bind='article.title')
        .content(ng-bind='article.preview')
        footer
          a.rm(ng-href='articles/{{article.basename}}.html') Read More
