!!! 5
html(ng-app='myApp')
head
    meta(charset='utf-8')

    title RD Search

    style
      .rdPills{
        display:inline;
        text-align:center;
        float:left;
        overflow:hidden;
        width: 220px;
        border: solid;
        border-width:1px;
        margin:4px;
        }

    //Stylesheets
    
    //Scripts
    script(src='components/angular/angular.js')
    script(src='js/search.js')
    //if lt IE 9
      script(type='text/javascript', src='http://html5shiv.googlecode.com/svn/trunk/html5.js')


    body(ng-controller='DataCtrl')
      div(style='margin-top: 30px') 
        form.form-search
          div(style='display: right; margin-bottom: 5px;')
            input(type='text', ng-model='searchText', placeholder='Search Regional Directors', autofocus='autofocus')
          div
            ul
              li.rdPills(ng-show='displayView == "one"', ng-repeat='item in items | filter:searchText')
                a(href='#') 
                  {{item.FullName}}
              li.rdPills(ng-show='displayView == "two"', ng-repeat='item in items | filter:searchText')
                a(href='#', style='color:blue') 
                  div
                    {{item.FullName}}
                  div
                    {{item.City + ', ' + item.Country}}
              li.rdPills(ng-show='displayView == "three"', ng-repeat='item in items | filter:searchText')
                a(href='#')
                  div
                    img(src='http://placekitten.com/g/75/75')
                  div
                    {{item.FullName}}
                  div
                    {{item.City + ', ' + item.Country}}
                  div
                    {{item.Email}}
