!!! 5
html(ng-app='myApp')
head
    meta(charset='utf-8')

    title RD Search

    //Stylesheets
    link(rel='stylesheet', href='styles/search.css')
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', 'rel="stylesheet')
    //Scripts
    script(src='http://code.angularjs.org/1.1.5/angular.js')
    script(src='js/search.js')
    //if lt IE 9
      script(type='text/javascript', src='http://html5shiv.googlecode.com/svn/trunk/html5.js')


    div.row(ng-controller='DataCtrl', style='margin-left:20px')
      div.span(style='margin-top: 30px') 
        form.form-search
          div
            input.search-query(type='text', ng-model='searchText', placeholder='Search Regional Directors', autofocus='autofocus')
          div.row
            div.span9.well
              ul.nav.nav-pills
                li.rdpill(ng-animate='"animate"', ng-repeat='item in items | filter:searchText')
                  a(href='#', ng-mouseover='show(item)') 
                    {{item.FullName}}
            div.span3.well
              div(ng-show='showItem')
                div
                  img.circular(src='{{item.Avatar}}')
                div
                  {{item.First}} {{item.Last}} Show Me
                div
                  {{item.City}} {{item.Country}}
